
body {
  /* background-color: lightblue; */
  background-color: #1abc9c; /* Green */

}

h1 {
	color: white;
	text-align:center;
}

 .wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.separatorDiv {
  height: 75px;
}

.buttonsMargin{
  margin-left:4%;
}
.buttonsMarginBottom{
  margin-bottom:10px;
}


.signature-pad {
  position: relative;
  left: 0;
  top: 0;
  width:200;
  height:200;
  background-color: white;
}

.center {
  text-align: center;
}


.line{
position:absolute;
width:1px;
background-color:gray;
opacity: 0.1;
z-index: -1;
}  
.lineCNN{
  position:absolute;
  width:1px;
  background-color:gray;
  opacity: 0.9;
  z-index: -1;
}  
  
.grid-container-dense {
display: grid;
grid-gap: 0%;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
padding: 20px;
} 
.grid-container-softmax {
display: grid;
grid-gap: 0%;
grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
padding-left: 30%;
padding-right: 30%;
} 

.grid-item-style {
/* padding: 0%; */
background-color:white;

border-radius: 100%;
/* padding-top: 100%;   1:1 Aspect Ratio */

border-color: rgb(211, 211, 211);  
border-style: solid;
border-width: 1px;

font-size: 2vw;
text-align: center;

color: rgba(0, 0, 0, 0.0);  /* font color */

} 

#resultDiv {
padding-left: 48%;
padding-right: 48%;
}

